.row {
  display: flex;
  justify-content: flex-end;
}

.btn-container {
  display: flex;
  padding: 0.5rem !important;
  border-radius: 0.5rem;
  background: rgb(186, 250, 107);
  margin-top: 0.5rem;
}

.home-btn {
  text-decoration: none;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

.home-btn:hover {
  text-decoration: underline;
}

img {
  margin-right: 0.25rem;
  width: 2rem;
  height: auto;
}
